
#barraTopo{
    background-color: #353535;
    height: 100px;
    width: 100%;
    
}

#login{
    text-align: right;
    position: absolute;
    right: 2%;
    top: 7%;
}

.link:link{
    color: white;
}
.link:visited{
    color: white;
}

.esmadnews:link{
  color: #f39200;
  text-decoration: none;
}
.esmadnews:active{
  color: #f39200;
  text-decoration: none;
}
.esmadnews:visited{
  color: #f39200;
  text-decoration: none;
}

.titulo  {
  display: flex;
  position: absolute;
  top: 0;
  right: 45%;
  color: #f39200;
  font-family: 'Times New Roman', Times, serif;
}

.menu-navegacao  {
    display: flex;
    position: absolute;
    top: 8%;
    right: 30%;

  
}

.menu-navegacao button {
background-color: #f39200;
width: 12em;
height: 3em;
margin: 5px;

}

.menu-navegacao a{
color: white;
text-decoration: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #f39200;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    position: relative;
    right: 90%;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: left;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  #iframe{
    width: 100%;
    height: auto;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

main {
    width: 90em;
    margin: 0 auto;
    margin-top: 0em;
    font-family: 'Times New Roman', Times, serif;
  }
  
  section {
    padding: 3em;
    margin: 1em;
  }
  
  #primeira {
    background-color: white;
  }
  
  #orange {
    background-color: #ffdfba;
  }
  
  #destaques {
    background-color: white;
  }
  
  #terceira {
    background-color:   white;
  }
  
  #segunda {
    background-color:   white;
  }
  
  #destaques2{
    background-color: white;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "green green green blue"
      "green green green red"
      "yellow yellow yellow brown"
      "pink pink pink brown";
      border-top: 1px solid;
  }
  
  #primeira {
    grid-area: green;
    border-right: 1px solid #bdbebd;
  }
  
  #destaques {
    grid-area: yellow;
    border-bottom: 1px solid #bdbebd;
  }
  
  #orange {
    grid-area: orange;
    
  }
  
  #terceira {
    grid-area: red;
    padding-left: 0em;
    padding-top: 0em;
    border-bottom: 1px solid #bdbebd;
  }
  
  
  
  #segunda {
    grid-area: blue;
    padding-left: 0em;
    padding-top: 0em;
    border-bottom: 1px solid #bdbebd;
  }
  
  #destaques2{
    grid-area: pink;
    border-bottom: 1px solid #bdbebd;
  }
  
  #titulo{
  display: block;
  padding-top: 0;
  margin-top: 10px;
  font-size: 20px;
  }
  
  #primeira img {
    width: 900px;
    height: 600px;
  }
  
  #primeira h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  #primeira p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
  }
  
  #segunda h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    text-decoration: underline;
  }
  
  #segunda p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
  }
  
  #segunda img{
    width: 120px;
    height: 90px;
    float: right;
    padding-top: 1em;
  }
  
  #terceira h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    text-decoration: underline;
    
  }
  
  #terceira p{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
  }
  
  #terceira img{
    width: 120px;
    height: 90px;
    float: right;
    padding-top: 1em;
  }
  
  #destaques img{
    width: 210px;
    height: 150px;
    float: right;
    margin-right: 2em;
    margin-top: 0em;
    padding: 1em;
  }
  
  #destaques2 img{
    width: 210px;
    height: 150px;
    float: right;
    margin-right: 2em;
    margin-top: 0em;
    padding: 1em;
  }
  
  #destaques h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
  }
  
  #destaques p{
    text-align: justify;
  }
  
  #destaques2 p{
    text-align: justify;
  }
  
  #registar{
    text-align: right;
    position: absolute;
    right: 2%;
    top: 7%;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=email] {
    width: 97.3%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .rodape{
    background-color: #353535;
    height: 200px;
    width: 100%;
  }
  
  .rodape h2{
    position: relative;
    color: white;
    text-align: center;
    font-size: 20px;
    top: 10px;
  }
  
  .rodape p{
    position: relative;
    color: white;
    text-align: center;
    font-size: 16px;
    bottom: 11px;
  }
  
  .rodape a{
    color: white;
    
  }
  
  .rodape h3{
    color: white;
    text-align: center;
  }
  
  .icons{
    text-align: center;
    position: relative;
    bottom: 10px;
  }

  .esmad{
    position: relative;
    color: grey;
    bottom: 35px;
    left: 3px;
    font-size: 13px;
  }