#barraTopo{
    background-color: #333;
    height: 100px;
    width: 100%;
}

#login{
    text-align: right;
    position: absolute;
    right: 3%;
    top: 7%;
}

.link:link{
    color: white;
}
.link:visited{
    color: white;
}